div { } 
body {
    font-family: helvetica; 
    color: #333;
    font-size: 100%;
}

#header a  { 
    text-decoration: none;
    color: inherit;
}

#header ul { 
    margin: 0; 
    padding: 0;
}

#header li { 
    display: inline-block; 
    margin-right: 5px;
    padding: .5em;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    border-bottom: 0;
}
 
#header li.ActiveMenuItem {
    background: #fff; 
    color: #000; 
}

#mainContent { 
    width: 800px;
   margin-left: auto; 
   margin-right: auto;
}

#footer { text-align: center; font-size: 80%; }

.container { width: 800px; margin-left: auto; margin-right: auto; }